h1{font-size: 1.5rem;text-align: center;border-bottom: 1px solid silver;}
h2{font-size: 1rem;}

footer{border-top: 2px solid black;}

.mapa,
.mapaCalor{height: 455px;text-align: center;}

.mapa text.label {font-size: 9pt;font-weight: 700;}

.background.bar {fill: #ccc;}
.foreground.bar {fill: steelblue;}
.daterangepicker {background-color: lightsteelblue !important;}

@media  only screen and (max-width: 1000px) {
    .mapa > * {
        flex: 1 100%;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}