h1{font-size: 1rem;text-align: center;font-family: 'Roboto', sans-serif;padding: 5px 0 0;font-weight: 700;}
h2{font-size: 0.8rem;background: #5696AC;color:white;font-family: 'Roboto', sans-serif;padding: 5px;font-weight: 400;}

.mapa,
.mapaCalor{height: 410px;text-align: center;}
.mapa svg{width: 500px;height: 400px;}
.mapaCalor svg{width: 300px;}
.mapa text.label {font-size: 8pt;font-weight: 700;}

.background.bar {fill: #ccc;}
.foreground.bar {fill: steelblue;}
.daterangepicker {background-color: lightsteelblue !important;}

.bt-tiempo{margin-left: 5px;}

@media  only screen and (max-width: 1000px) {
    .mapa > * {
        flex: 1 100%;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}